.custom-button {
  padding: 0.70em 0.85em;
  background: #C79F27;
  color: white;
  border: 1px solid transparent;
  border-width: 1px;
  font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
}

.custom-button:hover {
  background-color: white;
  color: #C79F27;
  border-color: #C79F27;
}

.custom-text {
  font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
  color: black;
  font-size: 20px;
}

.file-upload {
  text-align: center;
  margin: 1em;
  margin-bottom: .5em;
  padding: .40em;
  padding-bottom: .1em;
  background-color: #C79F27;
  border: 1px solid transparent;
  border-width: 1.40px;
  border-color: #CACACA;
  color: white;
  font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
}

.file-upload:hover {
  background-color: white;
  color: #C79F27;
  border: 1px solid transparent;
  border-width: 1px;
  border-color: #C79F27;
}

.custom-header {
  font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
  text-align: center;
  font-weight: bold;
}

.movie-index-title {
  font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif; 
}

.custom-margin {
  margin: 2px, 0px, 10px, 10px;
  padding: 10px;
}

.main-title{
  color: white;
  background: #C79F27;
  padding: 0.5rem;

}

.top-bar-text {
  font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif; 
  text-align: center;
}

.top-bar-text a {
  color: white;
}

.top-bar-text a:hover {
  color: black;
}

.custom-link {
  color: black;
  font-size: 25px; 
}

.custom-link:hover {
  font-weight: bold;
  border: solid;
  border: 4px;
  color: #C79F27;  
}

img.index-page-poster {
  height: 475px;
  width: 335px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

img.show-page-poster{
  height: 600px;
  width: 370px;
  display: block;
  margin-left: 20px;
  margin-right: 10px;
}

ul.no-bullets {
  list-style-type: none;
  text-align: left;
}

ul li {
  margin-top: 20px;
}

li.reviews {
  margin-top: 0px;
}

.show-page-movie-title {
  font-family: "futura book legacy","FuturaPT-Book",Futura,"Trebuchet MS",Arial,sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.review-section {
  padding: 1em 1em;
}

.award-border {
  border: 0.5em solid #C79F27;
}